.header {
    text-align: center;
}

.btn {
    margin-right: 1rem;
}

.btn-toolbar {
    text-align: center;
}

.cardDeck {
    display: flex;
    flex-direction: row;
}

.card {
    margin-right: 1rem;
    text-align: center;
}

.idTable {
    width: 200px;
    text-align: right;
}