.header {
    text-align: center;
}

.btn {
    margin-right: 1rem;
}

.btn-toolbar {
    text-align: center;
}

.cardDeck {
    text-align: left;
    display: flex;
}

.idTable {
    width: 200px;
    float: right;
}

.card {
    height: 125px;
    width: 100px;
    margin-right: 1rem;
    text-align: center;
    max-width: 100px;
}